<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="Immunization">
  <Properties>
    <Property name="filename">./logs/immunization.log</Property>
  </Properties>
  <Appenders>
    <File name="vaccinestatus" fileName="logs/Vaccine-Status.log">
      <PatternLayout>
        <Pattern>%p %c %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug" additivity="true">
      <AppenderRef ref="vaccinestatus"/>
    </Root>
  </Loggers>
</Configuration>

